/* Ensure the font is loaded properly */
@font-face {
  font-family: 'F1-Regular'; /* Custom font name */
  src: url('/Formula1-Regular.otf') format('opentype'),
       url('/assets/fonts/F1-Regular.woff') format('woff'),
       url('/assets/fonts/F1-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'F1-Regular', sans-serif;
}
