@font-face {
    font-family: 'Formula1Regular';
    src: url('../assets/fonts/Formula1-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Formula1Wide';
    src: url('../assets/fonts/Formula1-Wide.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Formula1Bold';
    src: url('../assets/fonts/Formula1-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  